body {
    font-family: Arial, sans-serif;
   
}
 h1 {
    color: black;
    font-size: 24px;
    line-height: 28px;
    font-weight: 100px;
    margin-bottom: 0;
}
ul {
    margin:0;
    padding: 0;
}
li {
    list-style: none;
    margin:0;
    padding: 0;
    color:black;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
}
.weather-app-wrapper {
    max-width: 600px;
    margin:30px auto;

}
.weather-app {
    height: 500px;
    padding:20px;
    border:1px solid #d9dad7;
    border-radius: 5px;
}
.overview {
    margin-bottom: 20px;
}
.weather-temperature img {
margin-right: 4px;
height: 64px;
width:64px;

}
.weather-temperature strong {
    color:rgb(33,33,33);
    font-size:64px;
    line-height: 1;
    font-weight: 400;
    position:relative;
    right:-70px;
    top:-70px;

}
.weather-temperature .units {
    position:relative;
    font-size:16px;
    right:-60px;
    top:-100px;
}